#header {
  width: 100%;
  padding: 0;
  background: #fff;
  z-index: 50;
  height: 60px;
}
#header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 650px) {
  #header .container  {
    padding-left: 0;
  }
}
.language-menu-item {
  padding: 0 .5rem;
}
