#header {
  width: 100%;
  padding: 0;
  background: #fff;
  z-index: 50;
  height: 60px;
}
#header .container {
  height: 100%;
}
.header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 1rem;
}
@media (min-width: 550px) {
  .header-layout  {
    padding-left: 2rem;
  }
}
@media (min-width: 750px) {
  .header-layout  {
    padding-left: 0;
  }
}
.language-menu {
  display: flex;
  align-items: center;
  height: 100%;
  border: 1px solid #f9e9e0;
  border-width: 0 1px 0 1px;
}
.language-menu-item {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.language-menu-item.is-active {
  background-color: #cc4700;
  color: white;
}
