#header {
  width: 100%;
  padding: 0;
  background: #fff;
  z-index: 50;
  height: 60px;
}
#header .container {
  height: 100%;
}
.header-layout {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
}
@media (min-width: 550px) {
  .header-layout  {
    padding-left: 2rem;
  }
}
@media (min-width: 750px) {
  .header-layout  {
    padding-left: 0;
  }
}

#logo {
  flex-grow: 1;
	font-family: 'Comfortaa', sans-serif;
	font-size: 24px;
	color: #e65100;
}
@media (min-width: 450px) {
  #logo {
    font-size: 28px;
  }
}
#logo:hover {
  text-decoration: none;
}

.language-menu {
  display: flex;
  align-items: center;
  height: 100%;
}
.language-menu-item {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.language-menu-item.is-active {
  background-color: #cc4700;
  color: white;
}
