.TranslatorSection {
  padding: 2rem 0;
  background-color: #B94100;
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 750px) {
  .TranslatorSection .container{
    padding: 0;
  }
}
.TranslatorSection a {
  color: #fbf3ef;
}
.translator-list-item {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.translator-list-item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.translator-list-item:hover {
  background-color: #8F3200;
}
.translator-list-item:hover .translator-name {
  color: white;
}
.translator-item-body {
  padding-left: 1rem;
  color: rgba(255, 255, 255, 0.6);
}
.translator-name {
  color: #fbf3ef;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
