body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #ececec;
  background-color: #fbf3ef;
  /*color: #555;*/
  color: #541600;
}

h1, h2, h3 {
  font-weight: 400;
}
h1 {
  margin-top: 2rem;
  font-size: 2rem;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}
a {
  color: #cc4700;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
}
#header .container,
h1 {
  padding-left: 2rem;
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 850px) {
  #header .container,
  h1 {
    padding-left: 0;
  }
  h1 {
    font-size: 2.5rem;
  }
  .container {
    max-width: 800px;
  }
}
@media (min-width: 1050px) {
  #header .container,
  h1 {
    font-size: 3rem;
  }
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1250px) {
  h1 {
    font-size: 3.5rem;
  }
  .container {
    max-width: 1200px;
  }
}
/*@media (max-width: 799px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 2rem;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1249px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 750px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 750px) {
  .container {
    max-width: 600px;
  }
}*/
